---
title: Recipes from the Friendship of Sam Hart and Nicole Zhu
---

<div class="container">
	<h1 id="title">Recipes from the Friendship of <br>Sam Hart and Nicole Zhu</h1>
	<div class="recipe">
		<h1>Oaky Afterbirth</h1>
		<img src="images/oaky.jpg" />
		<div class="ingredients">
			<h4>Ingredients:</h4>
			<ul>
				<li>A bottle of red wine</li>
				<li>Bread (optional)</li>
				<li>Flask (optional)</li>
			</ul>
		</div>
		<p class="description">Split a bottle of red wine (or bring a flask of wine to a party). If it's Easter, ask the party's host for some bread, dip it into the red wine, and enjoy.</p>
	</div>
	<div class="recipe">
		<h1>The Rossman</h1>
		<div class="ingredients">
			<h4>Ingredients:</h4>
			<ul>
				<li>Stolen alcohol from underaged kids</li>
				<li>Bosnia shot glasses</li>
			</ul>
		</div>
		<p class="description">Pour stolen alcohol of choice into Bosnia shot glasses. Drink to Rossman, the weirdest guitar-playing, 30-year old roommate.</p>
	</div>
	<div class="recipe">
		<h1>C Store Sangria</h1>
		<img src="images/cstore.png" class="full-width" />
		<div class="ingredients">
			<h4>Ingredients:</h4>
			<ul>
				<li>A bottle of white wine</li>
				<li>Orangina</li>
				<li>Sour Patch Kids</li>
				<li>Starbucks cups</li>
			</ul>
		</div>
		<p class="description">Bring white wine in a backpack to Norris. Ask Norbucks for to-go cups. Fill to-go cups generously with wine. Mix with Orangina and Sour Patch Kids from C Store. Enjoy while Snapchatting experience as you watch <i>Her</i> with fellow NBN staff.</p>
	</div>
	<div class="recipe">
		<h1>Interactive Pregame</h1>
		<div class="ingredients">
			<h4>Ingredients:</h4>
			<ul>
				<li>White Zinfandel from Trader Joe's</li>
				<li>Jungle Juice</li>
				<li>Shots</li>
				<li>Tanner Howard (optional)</li>
			</ul>
		</div>
		<p class="description">Pregame with Tanner Howard (depends on email sent out), each person drinking approximately half a bottle of White Zinfandel. At NBN fundie, take more shots and drink 2-3 cups Jungle Juice. Drink until you vomit in Gabe's house or need friends to help you home.</p>
	</div>
	<div class="recipe">
		<h1>7-Eleven Punch</h1>
		<img src="images/punch.png" />
		<div class="ingredients">
			<h4>Ingredients:</h4>
			<ul>
				<li>Citrus vodka</li>
				<li>Berry hibiscus lemonade</li>
				<li>Blueberries</li>
				<li>Ice (optional)</li>
				<li>Food processor (optional)</li>
			</ul>
		</div>
		<p class="description">Buy berry hibiscus lemonade and other mixers from 7-Eleven. Mix with citrus vodka and bluberries. Optionally use a food processor to crush ice and blend drink. May need additional appartus to pour drink from food processor into glasses.</p>
	</div>
	<div class="recipe">
		<h1>Sarpino's Specialty</h1>
		<div style="padding-left: 15%;">
			<img src="images/calzones.png" />
			<img src="images/mozzarella.jpg" />
		</div>
		<div class="ingredients" style="clear:both;">
			<h4>Ingredients:</h4>
			<ul>
				<li>Calzones</li>
				<li>Mozzarella sticks</li>
			</ul>
		</div>
		<p class="description">Thursday nights after Newsroom, order mozzarella sticks or a calzone from Sarpino's and enjoy while watching <i>How to Get Away with Murder</i>.</p>
	</div>
	<div class="recipe">
		<h1>Quarter-end Ramen</h1>
		<img src="images/ramen.png" />
		<div class="ingredients">
			<h4>Ingredients:</h4>
			<ul>
				<li>Ventra card</li>
				<li>Freedom from exams</li>
				<li>Hot cider (seasonal)</li>
				<li>Ramen</li>
				<li>Pork belly buns</li>
				<li>Mini cheesecakes</li>
			</ul>
		</div>
		<p class="description">Celebrate the end of the quarter with celebratory ramen from Wasabi. Pair with pork belly buns for an appetizer or mini cheesecakes for dessert. Optional hot cider from Christkindlmarket beforehand.</p>
	</div>
	<div class="recipe">
		<h1>3AM BK</h1>
		<img src="images/bk.jpg" />
		<div class="ingredients">
			<h4>Ingredients:</h4>
			<ul>
				<li>Inebriated state</li>
				<li>Satisfries</li>
				<li>Whopper</li>
				<li>Tacos</li>
			</ul>
		</div>
		<p class="description">Obtain appropriate level of drunkenness. Stagger into Burger King line around 3 AM. Feast on Satisfries, Whoppers, and tacos (yes, they are on the menu) until you feel Satisfried.</p>
	</div>
</div>